.screen{
    height: 50vh;
}
.screen2{
    width: 80%;
}
@media (max-width: 996px) {
    .flex2{
        display: flex;
        flex-direction: column-reverse;
        gap: 5vh;
    }
}
.flex2{
    display: flex;
    justify-content: space-between;
}
.text-dark-gray{
    color: #262626;
}
.text-gray-light{
    color: #e1e2e1;
}
.border{
    border-radius: 1vh;
    height: 20vh;
    width: 30vh;
}